/* 
Aufgabe: Funktionen
Name: Bastian Weisshaar
Matrikel: 256578
Datum: 22.10.2017
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
*/

h1{
	font-family:'Arial', sans-serif;
}


