h1{
	position: absolute;
	top: 20px;
	left:300px;
	
}

#score{
	position: absolute;
	top:200px;
	left:40px;
	font-family:'Arial',sans-serif;
	font-size: 120px;
	color:#DF0101;
	display:none;
	
	
}

button{
	position:absolute;
	left:20px;
	top:500px;
	font-size: 70px;
	color:red;
	background-color:orange;
	
}